@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Yanone+Kaffeesatz');
*{ box-sizing:border-box;
}

            #content {
                width: 90%;
                max-width: 960px;
                margin: 0 auto;
                background-color: beige;
                align-items: center;
            }
            .leftcol{
                width: 48%;
                margin-bottom:;
                flex: 1;
                flex: 1 0 15em;
                margin: .5em;
            }
            .rightcol{
                width: 48%;
                margin-bottom:;
                flex: 1;
                flex: 1 0 15em;
                margin: .5em;
            }
            img{
                max-width: 100%;
            }
            section{
                padding: 20px;
            }
            body{
                font-family: "Architects Daughter", Arial, sans-serif;
                font-size: 14.5px;
                line-height: 19px;
                width:auto;
                background-image: url("http://all4desktop.com/data_images/wallpapers/nature-and-landscape/596483.jpg");
            }
            .logo{
                background color:floralwhite;
                position: relative;
            }
            nav{
                background-color: rgb(57, 171, 57);
                color: rgb(249, 229, 171);
                font-size: 1.1em;
                line-height: 2em;
                width: 85%;
                margin-top: -5em;
                margin-left:9em;
                position:inherit;
                
            }
            nav > ul{
                list-style-type: none;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
             
            }
            nav li{
                flex: 1 1 7em;
            }
            nav a:link, nav a: visited{
                color: #E7C24F;
                text-decoration: none;
            }
            nav a:hover{
                text-decoration: underline;
                color: aliceblue;
            }
            h1, h2, h3 {
                color: rgb(210, 210, 210);
                font-family: "Yanone Kaffeesatz", Times, serif;
                margin-top: 14px;
                margin-bottom: 5px;
                font-size:27px;
                line-height: 40px;
            }
            h3{
                color: rgb(10, 10, 10);
            }
            h4{
                color: rgb (40, 50, 59);
                font-family: "Yanone Kaffeesatz", Times, serif;
                margin-top: 14px;
                margin-bottom: 5px;
                font-size:50px;
                line-height: 40px;
            }
            #indexhead{
                background-color: rgb(57, 171, 57);
                color: rgb(240, 240, 240);
                text-align: center;
            }
            .indexhead{ 
                color: rgb(249, 229, 171);
                line-height: 40px;
                font-size:20px;               
            }
            #riverhead{
                background-color: rgb(57, 171, 57);
                color: rgb(240, 240, 240);
            }
            .riverhead{ 
                color: rgb(249, 229, 171);
                line-height: 15px;
                font-size:20px;
                margin-left: 40px;
            }
            .riverhead2 {
                color: rgb(249, 229, 171);
                font-size:20px;
                margin-left: 563px;
            }
            .rivertitle{
                text-align: center;
            }
             #faqhead{
                background-color: rgb(57, 171, 57);
                color: rgb(240, 240, 240);
            }
            .faqhead{ 
                color: rgb(249, 229, 171);
                line-height: 15px;
                font-size:20px;
                margin-left: 50px;  
            }
            .faqhead2 {
                color: rgb(249, 229, 171);
                font-size:20px;
                margin-left: px;
            }
            .faqtitle{
                text-align: center;
            }
            #section2 {
                background-color: rgb(214, 71, 71);
/*                margin-top: 0%;*/
                display: flex;
                flex-flow: row wrap;
                align-items: center;
            }
            .section2 {
                margin: auto;
                text-align: center;
                color: rgb(249, 229, 171);
                margin-top: 0%;
                padding-top: 0%;
            }
            #section3 {
                background-color: rgb(43, 128, 128);
                margin-top: 0%;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
            }
            .section3 {
                margin: auto;
                text-align: center;
                color: rgb(249, 229, 171);
                margin-top: 0%;
                padding-top: 0%;
            }
            #section4 {
                background-color: rgb(57, 171, 57);
                color: rgb(249, 229, 171);
            }
            #riversection4 {
                background-color: rgb(57, 171, 57);
                color: rgb(249, 229, 171);
            }
            #faqsection4 {
                background-color: rgb(57, 171, 57);
                color: rgb(249, 229, 171);
            }
            .faqsection4{
                margin-left: 42%;
            }
            #section5 {
                background-color: rgb(214, 136, 71); 
                display: flex;
                flex-flow: row wrap;
                align-items: center;
            }
            #section6 {
                background-color: rgb(43, 128, 128);
                display: flex;
                flex-flow: row wrap;
                align-items: center;
            }
            #section7{ 
                background-color: rgb(214, 71, 71);
                display: flex;
                flex-flow: row wrap;
                align-items: center;
            }
            #section8{
                background-color: rgb(43, 128, 128);
/*                display: flex;*/
/*                flex-flow: row wrap;*/
/*                align-items: center;*/
            }
            .section8{
                color: rgb(249, 229, 171);
                margin-top: 0%;
                padding-top: 0%;
            }
            #section9{
                background-color: rgb(214, 71, 71);
/*                display: flex;*/
/*                flex-flow: row wrap;*/
/*                align-items: center;*/
            }
            .section9{
                color: rgb(249, 229, 171);
                margin-top: 0%;
                padding-top: 0%;
            }
            #section10{
                background-color: rgb(214, 136, 71);
/*                display: flex;*/
/*                flex-flow: row wrap;*/
/*                align-items: center;*/
            }
            .section10{
                color: rgb(249, 229, 171);
                margin-top: 0%;
                padding-top: 0%;
            }
            #section11{
                background-color: rgb(57, 171, 57);
/*                display: flex;*/
/*                flex-flow: row wrap;*/
/*                align-items: center;*/
            }
            .section11{
                color: rgb(249, 229, 171);
                margin-top: 0%;
                padding-top: 0%;
            }
            #section12{
                background-color: rgb(214, 136, 71);
/*                display: flex;*/
/*                flex-flow: row wrap;*/
/*                align-items: center;*/
            }
            .section12{
                color: rgb(249, 229, 171);
                margin-top: 0%;
                padding-top: 0%;
            }
             #section13{
                background-color: rgb(214, 71, 71);
/*                display: flex;*/
/*                flex-flow: row wrap;*/
/*                align-items: center;*/
            }
            .section13{
                color: rgb(249, 229, 171);
                margin-top: 0%;
                padding-top: 0%;
            }
             #section14{
                background-color: rgb(43, 128, 128);
/*                display: flex;*/
/*                flex-flow: row wrap;*/
/*                align-items: center;*/
            }
            .section14{
                text-align: center;
                color: rgb(249, 229, 171);
                margin-top: 0%;
                padding-top: 0%;
            }
            .emaillink{
                color:deepskyblue;
            }
            #image8, #image9, #image10, #image11, #image12, #image13{
                width: 200px;
                float:left;
                margin: 1em;
            }
            .facebooklogo{
                margin-left:75%;
                margin-bottom:5px;
            }
            .copyright{
                margin-bottom: 200px;
                margin-left: 10px;
            }
            .fullwidth {
                width: 100%;
            }

/*In case of future need*/
/*                margin-left: 450px;*/
/*                margin: auto;*/
/*                text-align: right;*/